p {color: #99ccff; font-size: 25px; font-family: fantasy;}
h1 {font-size: 40px; 
	color: #ffccff;}
img {border-radius: 120px; opacity: 0,8; height: 400px; width: 400px; line-height: 1,5pt}
li {color: #ff9999; font-weight: bolder;}
body {color: #f0ffff;}